@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gabarito", sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Gabarito", sans-serif;
}

input {
  font-family: "Gabarito", sans-serif;
}
