.Header {
  margin: 20px 20px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .Wrapper {
    .Logo {
      width: 200px;
      height: 28px;
    }
  }
}

@media only screen and (min-width: 768px) {
  .Header {
    width: 100%;
    margin: 0;
    background-color: #000;

    .Wrapper {
      width: 100%;
      max-width: 1440px;
      padding: 20px 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
