.NavBar {
  width: 90%;
  height: 54px;
  background-color: #0d0d0d;
  bottom: 0;
  margin-bottom: 5px;
  border-radius: 20px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  .NavMenu {
    color: #ffffff;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;

    a {
      color: #ffffff;
    }

    .Active {
      color: #03a696;
    }
  }
}

@media screen and (min-width: 992px) {
  .NavBar {
    display: none;
  }
}
