.RegisterPage {
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;

  .RegisterBanner {
    display: none;
  }

  .RegisterForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Form {
    width: 90%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 28px;
  }

  .Box_Input {
    width: 90%;
    height: 48px;
    border-radius: 20px;
    border: 1px solid #111;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ImagePreview {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    img {
      width: 200px;
      height: 200px;
      border-radius: 20px;
    }
  }

  .Select {
    width: 99%;
    height: 38px;
    border-radius: 20px;
    padding: 10px 20px;
    border: 0;
    outline: none;
  }

  .Option {
    background-color: azure;
  }
}

@media screen and (min-width: 768px) {
  .Box_Input {
    max-width: 400px;
  }
}

@media screen and (min-width: 768px) {
  .Select {
    max-width: 400px;
  }
}

@media only screen and (min-width: 768px) {
  .RegisterPage {
    margin: 0;

    .RegisterWrapper {
      width: 100%;
      display: flex;

      .RegisterBanner {
        width: 60%;
        display: block;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .RegisterForm {
        width: 40%;
        justify-content: center;
      }
    }
  }
}
